body {
    background-color: rgb(238, 173, 143);
    text-align: center;
    margin: 10%;
}

button {
    background-color: rgb(121, 14, 14);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px cursive;
    margin: 7px 5px;
    cursor: pointer;
}